# {{ project_name }}

![Powered by Kedro](https://img.shields.io/badge/powered_by-kedro-ffc900?logo=kedro)
[![Code style: ruff-format](https://img.shields.io/badge/code%20style-ruff_format-6340ac.svg)](https://github.com/astral-sh/ruff)

(Add a longer description here.)

## How to create your first Kedro pipeline

To list the available Kedro pipelines:

```
uv run kedro registry list
```

And to create a new one:

```
uv run kedro pipeline create data_processing
```

See the [documentation on modular pipelines](https://docs.kedro.org/en/stable/nodes_and_pipelines/modular_pipelines.html)
for more information.

## How to run your Kedro pipeline

You can run your Kedro project with:

```
uv run kedro run
```

## How to test your Kedro project

Have a look at the file `tests/test_run.py` for instructions on how to write your tests. You can run your tests as follows:

```
uv run pytest
```

## Project dependencies

To see and update the dependency requirements for your project, use `uv`.
